/client/app/config.js
/client/android/app/gradle.properties
/client/android/app/src/main/AndroidManifest.xml
/client/android/app/src/main/res/values/com_crashlytics_export_strings.xml
/client/android/keystores
/client/android/app/ubandani-release-key.keystore
/client/android/app/build
/client/android/.gradle
/client/android/.idea